.headTitle {
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.addFriendsBtn {
  margin-top: 22px;
}
.myProfileDiv {
  margin-right: -0.5rem;
}
.myProfile {
  flex-wrap: nowrap;
}
.myProfileImg {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.myProfileName {
  width: 92%;
  height: 60px;
}
#myProfileEmail {
  margin-left: 20px;
}
.headerEnd {
  margin-left: -1%;
  margin-right: 0.5rem;
}
.myFriendsCount {
  display: flex;
  justify-content: flex-end;
  margin-top: -8px;
  margin-bottom: -7px;
  margin-right: 10px;
}
.myFriendListDiv {
  margin-top: 10px;
}
.myFriendImg {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 15px;
}
.deleteFriend {
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}
.nextList {
  color: lightgray;
}